<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/dashboardLayout.html}">

<head>
</head>

<body style="font-family: 'Times New Roman', Times, serif;">
    <section class="price_list_area p_100" layout:fragment="content">
        <div class="">
            <div class="col mt-4">
                <div class="card">
                    <div class="card-header">
                        <h2>List of products</h2>
                    </div>
                    <div class="card-body" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; ">
                        <div th:if="@{message != null}" class="alert alert-primary" role="alert">
                            <i>[[${message}]]</i>
                        </div>
                        <table class="table">
                            <thead class="thead-inverse">
                                <tr>
                                    <th scope="col">Product ID</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Count</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Description</th>
                                    <!-- <th scope="col">Category</th> -->
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each=" product : ${products}">
                                    <td scope="row">[[${product.productId}]]</td>
                                    <td> <img th:src="@{${product.photosImagePath}}" width="100px" height="100px" alt=""> </td>
                                    <td th:text="${product.name}"></td>
                                    <td th:text="${product.unitPrice}"></td>
                                    <td th:text="${product.quantity}"></td>
                                    <td th:text="${product.discount}"></td>
                                    <td th:text="${product.enteredDate}"></td>
                                    <td th:text="${product.status}"></td>
                                    <td th:text="${product.description}"></td>
                                    <!-- <td th:text="${product.category.categoryId}"></td> -->
                                    <td>
                                        <a th:href="@{'/admin/product/view/' + ${product.productId}}" class="btn btn-outline-info"> <i class="fa fa-info" aria-hidden="true"></i> </a>
                                        <a th:href="@{'/admin/product/edit/' + ${product.productId}}" class="btn btn-outline-warning"><i class="fas fa-edit"></i> </a>
                                        <a th:href="@{'/admin/product/delete/' + ${product.productId}}" class="btn btn-outline-danger"> <i class="fa fa-recycle" aria-hidden="true"></i> </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="product_pagination">
                    <div class="left_btn">
                        <a href="#"><i class="lnr lnr-arrow-left"></i> New posts</a>
                    </div>
                    <div class="middle_list">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">...</a></li>
                                <li class="page-item"><a class="page-link" href="#">12</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="right_btn"><a href="#">Older posts <i class="lnr lnr-arrow-right"></i></a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>