<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/dashboardLayout.html}">

<head>
</head>

<body>
    <main class="container">
        <section class="row" layout:fragment="content">
            <div class="col-6 offset-3 mt-4">
                <form th:action="@{/admin/categories/saveOrUpdate}" method="post" th:object="${category}">
                    <div class="card" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
                        <div class="card-header">
                            <h2 style="font-family: 'Times New Roman', Times, serif;"> Add New Category</h2>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryId">Category ID:</label>
                                <input type="hidden" th:field="*{isEdit}">
                                <input type="text" class="form-control" th:field="*{categoryId}" aria-describedby="categoryIdHid" placeholder="" readonly>
                                <small th:if="${#fields.hasErrors('categoryId')}" id="categoryIdHid" class="form-text text-muted">Category is required </small>
                            </div>
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" th:field="*{name}" id="name" aria-describedby="nameHid" placeholder="">
                                <small th:if="${#fields.hasErrors('name')}" id="nameHid" class="form-text text-danger">Name is required or invalid</small>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            <button class="btn btn-outline-secondary">Reset</button>
                            <a th:href="@{/admin/categories/searchpaginated}" class="btn btn-outline-success">List Categories</a>
                            <button class="btn btn-outline-primary"><i class="fas fa-save"></i> 
                            <span th:if="${category.isEdit}">Update</span>
                            <span th:unless="${category.isEdit}">Save</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>