<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
    <div th:fragment="header">
        <header class="main_header_area">
            <div class="top_header_area row m0">
                <div class="container">
                    <div class="float-left">
                        <a href="tell:+18004567890"><i class="fa fa-phone" aria-hidden="true"></i> 0945346501</a>
                        <a href="mainto:info@cakebakery.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> ht2522001@gmail.com</a>
                    </div>
                    <div class="nav-item dropdown float-right" ng-hide="isLogin">
                        <div ng-controller="myCtrl">
                            <a class="nav-link dropdown-toggle waves-effect" style="color: white;" href="" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span th:text="${session.email}" th:unless="${session == null}"></span>
                                <i class="fa fa-user"> </i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right dropdown-secondary" aria-labelledby="userDropdown">
                                <div ng-show="student1==null">
                                    <a ng-click="intro=0" class="dropdown-item" th:href="@{/site/account/add}">Đăng kí</a>
                                    <a ng-click="intro=0" class="dropdown-item" th:href="@{/site/login}">Đăng nhập</a>
                                    <a ng-click="intro=0" class="dropdown-item" href="forgotpassword.html">Quên mật khẩu</a>
                                </div>
                                <div ng-hide="student1==null">
                                    <!-- <a th:href="@{'/site/product/edit/' + ${product.productId}}" class="btn btn-outline-warning btn-circle"><i class="fas fa-edit"></i> </a> -->
                                    <!-- <a ng-click="intro=1" class="dropdown-item" th:href="@{/site/account/profile">Thông tin cá nhân</a>  -->
                                    <a ng-click="intro=1" class="dropdown-item" href="changepassword.html">Đổi mật khẩu</a>
                                    <a ng-click="intro=1" class="dropdown-item" th:href="@{/site/logout}">Đăng xuất</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_menu_area">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="./index.html">
                            <img src="../images/img/logo.png" th:src="@{/images/img/logo.png}" alt="">
                            <img src="../images/img/logo-2.png" th:src="@{/images/img/logo-2.png}" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="my_toggle_menu">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li><a th:href="@{/site/product/index}">Home</a></li>
                                <li><a th:href="@{/site/product/blog}">Blog</a></li>
                                <li><a th:href="@{/site/product/abount}">Abount Us</a></li>
                                <li><a th:href="@{/site/product/menu}">Menu</a></li>

                            </ul>
                            <ul class="navbar-nav justify-content-end">
                                <li class="dropdown submenu">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="service.html">Services</a></li>
                                        <li class="dropdown submenu">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gallery</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="portfolio.html">-  Gallery Classic</a></li>
                                                <li><a href="portfolio-full-width.html">-  Gallery Full width</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="blog-2column.html">Blog</a></li>
                                <li class="dropdown submenu">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="shop.html">Main shop</a></li>
                                        <li><a>Cart Page</a></li>
                                        <li><a href="checkout.html">Checkout Page</a></li>
                                    </ul>
                                </li>
                                <li><a>Contact Us</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
    </div>
</body>

</html>