<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
    <div th:fragment="nav">
        <section class="banner_area1">
            <div class="container">
                <div class="banner_text">
                    <h3>Wellcome to Cake Bakery</h3>
                    <ul>
                        <li>
                            <a href="">Thưn</a>
                        </li>
                        <li>
                            <a href="">Yuki</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</body>

</html>