<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{site/dashboardLayout.html}">

<head>
</head>

<body>
    <div class="container rounded bg-white mt-5" layout:fragment="content">
        <div style="text-align: center; font-family: 'Times New Roman', Times, serif;">
            <h3>Hồ sơ của tôi</h3>
            <h4>Quản lí thông tin hồ sơ để bảo mật tài khoản</h4>
        </div> <br>
        <div class="row">
            <form th:action="@{/site/account/profile}" class="mb-3 d-flex search_widget">
            </form>
            <div class="col-md-4 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" src="/images/hi.jpg" width="200">
                    <span class="font-weight-bold" th:text="${customer.name}"></span>
                    <span class="text-black-50" th:text="${customer.email}"></span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="p-3 py-5">
                    <div class="row mt-2">
                        <!-- <label for="">Tên đ</label> -->
                        <div class="col-md-6">
                            <label for="">Họ và tên</label>
                            <input th:value="${customer.name}" type="text" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="">Password</label>
                            <input type="password" th:value="${customer.password}" class="form-control">
                        </div>

                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="">Email</label>
                            <input th:value="${customer.email}" type="text" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="">Số điện thoại</label>
                            <input th:value="${customer.phone}" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label>Giới tính</label>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                      Nam
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                      Nữ
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="">Ngày sinh</label>
                            <input th:value="${customer.birthday}" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="">Địa chỉ</label>
                            <input th:value="${customer.address}" type="text" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="">Ngày đăng kí</label>
                            <input th:value="${customer.registerData}" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<style>
    body {
        background: #BA68C8
    }
    
    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }
    
    .profile-button {
        background: #BA68C8;
        box-shadow: none;
        border: none
    }
    
    .profile-button:hover {
        background: #682773
    }
    
    .profile-button:focus {
        background: #682773;
        box-shadow: none
    }
    
    .profile-button:active {
        background: #682773;
        box-shadow: none
    }
    
    .back:hover {
        color: #682773;
        cursor: pointer
    }
</style>

</html>